#Essential
DASHSCOPE_API_KEY= #Must be qwen

#Recommended Configuration
BASE_AGENT_NAME=qwen-plus-latest
PROMPT_AGENT_NAME=qwen2.5-32b-instruct
CODING_MODEL_NAME=qwen3-coder-30b-a3b-instruct
TEXTING_MODEL_NAME=qwen-max