#Essential
DASHSCOPE_API_KEY= #Must be qwen

#Recommended Configuration
DASHSCOPE_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1 #Singapore

BASE_AGENT_NAME=qwen3.5-plus
PROMPT_AGENT_NAME=qwen-plus-latest
CODING_MODEL_NAME=qwen3-coder-30b-a3b-instruct
TEXTING_MODEL_NAME=qwen-max
SUMMARIZING_MODEL_NAME=qwen-turbo-latest
MATH_MODEL_NAME=qwen-math-plus

EMBEDDINGS_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
HUGGING_FACE_TOKEN=